@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 20%;
  --background: 0 0% 98%;
  --primary: 252 100% 62%;
}

.dark {
  --foreground: 0 0% 98%;
  --background: 0 0% 20%;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
